{% extends "index.html" %}
 {% block content %}
<h1>
    Projects
</h1>
<h2>
    Module 1 Project - Personal Website
</h2>
<p>
    My module 1 project was to build a website using Flask, and deploying it through my GitHub account. I used HTML, and CSS files to design the website, and Python to run it.
</p>

<h3>
    Module 2 Project - Web Scraping
</h3>
<p>
    For this project, I built a web scraper using Python, BeautifulSoup, and Regex in order to scrape and clean data from the Grad Cafe website.
</p>

<h4>
    Module 3 Project - Database Queries
</h4>
<p>
    For this project, I build a database using postgreSQL. I added my data from the web scraper to the database, and used psycopg3 to run queries and answer questions. Please see my analysis page to see what I did!
    Here is my github repository for my project:  <a href="https://github.com/shaylahirji/jhu_software_concepts">Github Repository</a>
</p>
{% endblock %}
